@media (max-width: 767px) {
  .index_header {
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    position: fixed;
    display: block;
    box-sizing: content-box;
    padding-bottom: 2.9rem;
  }
  .index_header h1 {
    grid-row: 1;
  }

  .index_header h2 {
    grid-row: 2;
    font-size: medium;
    border-radius: 0 0 0px 15px;
  }
  .home {
    display: flow-root;
  }
  .home_section {
    display: block;
    left: 20%;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr;
    margin: 5px 0 0 0;
    padding: 0;
    background-color: rgb(209, 246, 247, 0.5);
    padding-right: 390px;
    padding-bottom: 2.9rem;
    border-radius: 0 15px 15px 0;
  }
  .home_section li a {
    grid-template-columns: 3fr;
    grid-template-rows: 1fr;
    font-size: 22px;
  }

  .home_section li a #Skillss {
    grid-column: 1;
  }
  .home_section li a #Soft_Skills {
    grid-column: 2;
  }
  .home_section li a #ContacMe {
    grid-column: 3;
  }
  .badge-base {
    margin-top: 30px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  aside {
    width: 250px;
    top: 50px;
    left: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #pic {
    margin: 0;
    width: 150px;
    margin-left: 45px;
    border-radius: 0 0 15% 15%;
    margin-top: 120px;
  }
  #know_me {
    font-size: 9.5px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 7%;
    padding: 10px;
    margin: 10px 0 0 0px;
    color: #d1f6f7;
  }
  .image ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin-top: 15px;
    margin-left: 0;
  }

  .image ul li {
    margin: 5px auto;
    display: inline-block;
  }
  .image ul li a {
    color: #1b253c;
    font-size: 40px;
    padding: 20px;
    transition: 0.5s;
  }
  .image ul li a:hover {
    color: #d1f6f7;
    font-size: 40px;
    padding: 20px;
  }
  .Apis {
    width: 150px;
    text-align: center;
  }

  .Apis ul {
    left: -0;
  }

  .Apis h3 {
    color: #f0feff;
    width: 150px;
    font-size: 13px;
    margin-left: 50px;
  }
  .Apis ul li {
    width: 130px;
    margin: 15px 20px 0px 30px;
    background-color: #1b253c;
    padding: 15px;
    list-style: none;
    border-radius: 15px;
    text-decoration: none;
    border: 1px solid #d1f6f7;
    transition: 0.5s;
  }
  .Apis ul li:hover {
    margin: 10px 20px 0px 0px;
    background-color: #d1f6f7;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #1b253c;
  }
  .Apis ul li a {
    text-decoration: none;
    color: #d1f6f7;
    transition: 0.5s;
    font-size: 12px;
    font-weight: bold;
  }
  .Apis ul li a:hover {
    text-decoration: none;
    color: #1b253c;
    font-size: 12px;
    font-weight: bold;
  }
  .Skills {
    position: absolute;
    right: 0px;
    bottom: 117px;
    left: 280px;
  }
  .Skills ul {
    width: 200px;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px 30px 30px 60px;
    color: #f5ebe0;
    border-radius: 7%;
    box-shadow: 5px 10px 20px 0 #000;
    border: inset #4d6099;
    border-width: 5px 5px 1px 5px;
    margin: auto;
    list-style: none;
    line-height: 25px;
    text-align: right;
  }
  .Soft_Skills {
    position: absolute;
    left: 20px;
    top: 750px;
  }
  .Soft_Skills ul {
    width: 200px;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding: 30px 30px 30px 60px;
    color: #f5ebe0;
    border-radius: 7%;
    box-shadow: 5px 10px 20px 0 #000;
    border: inset #4d6099;
    border-width: 5px 5px 1px 5px;
    margin: auto;
    list-style: none;
    line-height: 25px;
    text-align: left;
  }
  .div_pattern {
    width: 100px;
    top: 450px;
  }
  .div_pattern footer p {
    text-align: center;
    left: 15px;
  }
  .badge-base {
    width: 300px;
  }
  .badge-base {
    position: absolute;
    right: -60px;
    top: 100px;
    position: fixed;
  }

  footer h1 p {
  }

  fieldset {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    max-width: 300px;
    margin: 0 0 30px 45px;
  }

  legend {
    text-align: center;
    color: #f5ebe0;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
  }

  .footer h1 {
    padding-top: 100px;
  }
  .contenedor1_contact {
    margin: 40px auto 10px;
    width: 300px;
    padding: 30px;
    box-sizing: content-box;
  }
  .elemento {
    text-align: center;
  }
  .elemento label {
    color: #f5ebe0;
    font-size: 20px;
  }
  .elemento textarea {
    width: 300px;
    padding-top: 2px;
    margin: 10px;
    border-radius: 10px;
  }
  .elemento input {
    width: 300px;
    height: 30px;
    padding-top: 2px;
    margin: 10px;
    border-radius: 10px;
  }
  form button {
    margin: 0;
    padding: 3px;
    width: 150px;
    letter-spacing: 3px;
    background: none;
    color: #d5bdaf;
    border-radius: 7%;
    border-color: #d5bdaf;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
}
