@media (max-width: 900px) {
  .index_header {
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    position: fixed;
    display: block;
    box-sizing: content-box;
    padding-bottom: 2.9rem;
  }
  .index_header h1 {
    grid-row: 1;
  }

  .index_header h2 {
    grid-row: 2;
    font-size: medium;
    border-radius: 0 0 0px 15px;
  }
  .home {
    display: flow-root;
  }
  .home_section {
    display: block;
    left: 20%;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr;
    margin: 5px 0 0 0;
    padding: 0;
    background-color: rgb(209, 246, 247, 0.5);
    padding-right: 390px;
    padding-bottom: 2.9rem;
    border-radius: 0 15px 15px 0;
  }
  .home_section li a {
    grid-template-columns: 3fr;
    grid-template-rows: 1fr;
    font-size: 21px;
  }

  .home_section li a #Skillss {
    grid-column: 1;
  }
  .home_section li a #Soft_Skills {
    grid-column: 2;
  }
  .home_section li a #ContacMe {
    grid-column: 3;
  }
  .badge-base .LI-profile-badge {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  aside {
    width: 200px;
    top: 50px;
    left: 0;
    margin: 0;
    box-sizing: border-box;
  }
  #pic {
    margin: 0;
    width: 100px;
    margin-left: 45px;
    border-radius: 0 0 15% 15%;
    margin-top: 120px;
  }
  #know_me {
    font-size: 9px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 7%;
    padding: 10px;
    margin: 10px 0;
    color: #d1f6f7;
  }
  .image ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin-top: 15px;
    margin-left: 0px;
  }

  .image ul li {
    margin: 5px auto;
    display: inline-block;
  }
  .image ul li a {
    color: #1b253c;
    font-size: 40px;
    padding: 20px;
    transition: 0.5s;
  }
  .image ul li a:hover {
    color: #d1f6f7;
    font-size: 40px;
    padding: 20px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url("https://i.imgur.com/e0HK3u9.png");
  }
}
