body {
  background-color: #1b253c;
  background-image: url("https://i.imgur.com/e0HK3u9.png");
  background-size: cover;
  background-position: right bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed;
  font-family: "Abril Fatface", cursive;
  font-family: "Arvo", serif;
}

.color1 {
  color: #140f07;
}
.color2 {
  color: #1b253c;
}
.color3 {
  color: #4d6099;
}
.color4 {
  color: #87a5fb;
}
.color5 {
  color: #d1f6f7;
}
/*INIT Responsive*/

/*FINAL Responsive*/

/*INIT INDEX.HTML*/

.index_header {
  position: fixed;
  width: 20%;
  float: left;
  z-index: 10000;
}
.index_header h1 {
  margin: 5px 0 0 0;
  padding: 0;
  color: #1b253c;
  background-color: rgb(209, 246, 247, 0.5);
  border-radius: 15px 0 0 0;
  text-align: center;
}
.index_header h2 {
  margin: 0;
  padding: 0 0 1px 0;
  color: #1b253c;
  background-color: rgb(209, 246, 247, 0.5);
  border-radius: 0 0 0 15px;
  text-align: center;
}

.home {
  width: 100%;
}

.home_section {
  z-index: 10000;
  position: fixed;
  left: 20%;
  width: 60%;
  height: 65px;
  float: left;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  box-sizing: content-box;
}

.home_section {
  margin: 5px 0 0 0;
  padding: 0;
  background-color: rgb(209, 246, 247, 0.5);
  padding-right: 390px;
  border-radius: 0 15px 15px 0;
}
.home_section li {
  list-style: none;
  display: inline-block;
  box-sizing: content-box;
}
.home_section li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #1b253c;
  transition: 0.5s;
}
.home_section li a:hover {
  background-color: #4d6099;
  border-radius: 5%;
  letter-spacing: 3px;
  text-decoration: none;
  list-style: none;
  border: 1px inset;
}
aside {
  width: 400px;
  left: 0;
  margin: 0;
}
#pic {
  margin: 0;
  width: 200px;
  margin-left: 80px;
  border-radius: 0 0 15% 15%;
  margin-top: 60px;
}
.image ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin-top: 15px;
  margin-left: -45px;
}

.image ul li {
  margin: 5px auto;
  display: inline-block;
}
.image ul li a {
  color: #1b253c;
  font-size: 40px;
  padding: 20px;
  transition: 0.5s;
}
.image ul li a:hover {
  color: #d1f6f7;
  font-size: 40px;
  padding: 20px;
}

.appMovies .movie {
  text-align: center;
  color: #d1f6f7;
}
.Apis {
  position: relative;
  max-width: 20%;
  text-align: center;
}

.Apis ul {
  position: absolute;
  left: 10px;
}

.Apis h3 {
  margin-top: 15px;
  font-size: 25px;
}
.Apis ul li {
  margin: 10px 20px 0px 0px;
  background-color: #1b253c;
  padding: 15px;
  list-style: none;
  border-radius: 15px;
  text-decoration: none;
  border: 1px solid #d1f6f7;
  transition: 0.5s;
}
.Apis ul li:hover {
  margin: 10px 20px 0px 0px;
  background-color: #d1f6f7;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #1b253c;
}
.Apis ul li a {
  text-decoration: none;
  color: #d1f6f7;
  transition: 0.5s;
  font-size: 20px;
  font-weight: bold;
}
.Apis ul li a:hover {
  text-decoration: none;
  color: #1b253c;
  font-size: 20px;
  font-weight: bold;
}
.Skills {
  position: relative;
  float: right;
  right: 850px;
  bottom: 380px;
}
.Skills ul {
  width: 500px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 30px 30px 30px 60px;
  color: #f5ebe0;
  border-radius: 7%;
  box-shadow: 5px 10px 20px 0 #000;
  border: inset #4d6099;
  border-width: 5px 5px 1px 5px;
  margin: auto;
  list-style: none;
  line-height: 25px;
  text-align: right;
}
.Soft_Skills {
  position: relative;
  float: right;
  left: 50px;
  top: 0px;
}
.Soft_Skills ul {
  width: 500px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 30px 30px 30px 60px;
  color: #f5ebe0;
  border-radius: 7%;
  box-shadow: 5px 10px 20px 0 #000;
  border: inset #4d6099;
  border-width: 5px 5px 1px 5px;
  margin: auto;
  list-style: none;
  line-height: 25px;
  text-align: left;
}

#know_me {
  font-size: 10px;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 7%;
  padding: 10px;
  margin: 10px 0;
  color: #d1f6f7;
}

.div_pattern {
  position: relative;
}
.div_pattern footer {
  width: 500px;
  position: absolute;
  left: 35%;
  top: 200px;
}
.badge-base {
  width: 400px;
}
.badge-base {
  position: absolute;
  right: -60px;
  top: 100px;
  position: fixed;
}

footer h1 {
  text-align: center;
}
fieldset {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  max-width: 400px;
  margin: 0 0 30px 0;
}

legend {
  text-align: center;
  color: #f5ebe0;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10%;
}

.footer h1 {
  padding-top: 100px;
}
.contenedor1_contact {
  margin: 40px auto 10px;
  width: 400px;
  padding: 30px;
  box-sizing: content-box;
}
.elemento {
  text-align: center;
}
.elemento label {
  color: #f5ebe0;
  font-size: 20px;
}
.elemento textarea {
  width: 400px;
  padding-top: 2px;
  margin: 10px;
  border-radius: 10px;
}
.elemento input {
  width: 300px;
  height: 30px;
  padding-top: 2px;
  margin: 10px;
  border-radius: 10px;
}
form button {
  margin: 0;
  padding: 3px;
  width: 150px;
  letter-spacing: 3px;
  background: none;
  color: #d5bdaf;
  border-radius: 7%;
  border-color: #d5bdaf;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
form button:hover {
  margin: 0;
  padding: 3px;
  width: 150px;
  letter-spacing: 3px;
  background: none;
  color: #fff;
  border-radius: 7%;
  border-color: #fff;
}
form button::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgba(213, 189, 175, 0.4);
  border-radius: 7%;
  z-index: -1;
  transition: 0.8s;
}
form button::before {
  bottom: 0;
  border-radius: 50% 50% 0% 0%;
}
form button:hover::before {
  height: 180%;
}
/*Links*/
